{% extends 'base.html.twig' %}

{% block title %}Compte N° {{ bank_account.id }} {% endblock %}

{% block body %}
    <div class="flex justify-around bg-purple-600 text-4xl text-white py-6"> 
        <h1>Compte N° {{ bank_account.id }}</h1>
    </div>
    <div class="bg-purple-600 max-w-6xl p-10 mt-40 pt-20 text-white mx-auto "> 
        <div class="pb-10">

            <p>Iban: {{ bank_account.iban }}</p>
            <p>Valeur initiale: {{ bank_account.initialBalance }} €</p>
            <p class="text-3xl mt-10">Email du client</p>
            <p>
                {{bank_account.UserOfAccount.email}}
            </p>
            <div class="pt-6">
                <a class="text-2xl " href="{{ path('user_show', {'id':bank_account.UserOfAccount.id}) }}">Information du client</a>
            </div>

        </div>

        <p class="text-2xl flex justify-between" >

            <a href="{{ path('bank_account_index') }}">Retourner à la liste</a>
            <a href="{{ path('bank_account_edit', {'id': bank_account.id}) }}">Modifier</a>
        </p>

    {{ include('bank_account/_delete_form.html.twig') }}
    </div>

{% endblock %}
